#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  width: 18rem;
  border: 1px solid black;
  padding: 10px;
  padding-bottom: 20px;
  
}

.btn {
  background-color: cornflowerblue;
  color: white;
  padding: 8px;
  border-radius: 0.5em;
  
}

.card-img-top {
  height: 200px;
  width: 100%;
  background-color: #888;
  color: white;
}

.container {

  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  position: fixed;
  left: 20px;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  overflow-y: auto;
}

.card-img-top {
  object-fit:cover
}